@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
$primary-color: #e6f7fe;
$secondary-color: #01afee;
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: rgb(255, 255, 255);
	font-family: "Rubik", sans-serif;
	// padding: 0px 8px 0px 8px;
	// box-sizing: border-box;
	overflow-x: hidden;
}

.boxP {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: 1rem;
	place-items: center;
	width: 100%;
}
.box {
	background-color: $primary-color;
	width: 90%;
	height: 185px;
	border-radius: 20px;
	position: relative;
	display: flex;
	align-items: center;
padding-left: 2rem;
	gap: 3rem;
	box-sizing: border-box;

	box-shadow: 2px 2px 3px rgba($color: #0000001c, $alpha: 0.1);
}
h1 {
	margin: 1rem 0rem;
	font-size: 30px;
	font-weight: 500px;
	color: #375f6b;
}
.block {
	display: block;
}

.hidden {
	display: none;
}
.left-0 {
	left: 0;
}
.left-back {
	left: -1080px;
}

.page-side {
	width: 100%;
}
.sidebar {
	display: none;
}
.Sbox {
	background-color: white;
	width: 100%;
	height: 185px;
	border-radius: 20px;
	color: #1c3238;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sHead {
	font-size: 1.4rem;
	font-weight: 500;
}
.sDes {
	font-size: 0.9rem;
	font-weight: 500;
	opacity: 0.6;
}
::-webkit-scrollbar {
	width: 0.3em;
	border-radius: 3rem;
	scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
	background-color: rgb(181, 197, 204);
	border-radius: 3rem;
}
.sidebar-inner {
	padding: 0.8rem;
}

.Head {
	color: #1c3238;
	font-size: 1.8rem;
	font-weight: 500;
}
.Des {
	color: #1c3238;
	font-weight: 500;
	opacity: 80;
}
.boxP {
	gap: 1.3rem;
}
.add {
	margin-right: 4rem;
}
.bg {
	background: #74d5ff;
	color: white;
}

.x {
	z-index: 1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	background: none;
	cursor: pointer;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
	background: none;
	cursor: pointer;
}
.b {
	cursor: pointer;
}
.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
	background: none;
}
.btn {
	border: none;
	background: $primary-color;
	padding: 0.5rem 1.5rem;
	border-radius: 0.6rem;
	width: 100%;
	cursor: pointer;
}

.bnt {
	cursor: pointer;
}
.upload-btn-wrapper {
	cursor: pointer;
}
.upload-btn-wrapper input[type="file"] {
	font-size: 20px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
// ___________________________________________________________________________________________________________________________________
.d {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.shad {
	box-shadow: 5px 8px 8px rgba($color: #00000085, $alpha: 0.3);
}

.Delete {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	color: black;
	border-radius: 0.5rem;
}
.menu {
	top: 1rem;
	right: 1.5rem;
	z-index: 1;
}
.card {
	z-index: 1;
	position: absolute;
	top: 3rem;
	right: 3px;
	width: 90%;
	height: 200px;
	border-radius: 1rem;
	background: rgb(255, 255, 255);
	box-shadow: 5px 5px 5px rgba($color: #00000085, $alpha: 0.3);
}
.folderP {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	width: 100%;
	gap: 0.9rem;
	box-sizing: border-box;
	padding-top: 3rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
.close {
	background: none;
	position: absolute;
	top: 1rem;
	right: 1rem;
}
.folderP div {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 3.3rem;
	background: skyblue;
	border-radius: 0.5rem;
	box-shadow: 2px 2px 1px rgba($color: #0000003d, $alpha: 0.1);
}
.over {
	z-index: 1;
	background: #00000091;
}
/* Styles for screens wider than 768px */
@media only screen and (min-width: 768px) {
	.boxP {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.page-side {
		width: 80%;
		display: flex;
		flex-direction: column;
		padding: 2rem 1.8rem 0rem 1.8rem;
	}
	.menu {
		top: 3rem;
		right: 5rem;
		z-index: 1;
	}
}

/* Styles for screens wider than 1024px */
@media only screen and (min-width: 1024px) {
	.add {
		margin-right: 0rem;
	}
	.menu {
		display: none;
	}
	.boxP {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.a {
		display: none;
	}
	.page-side {
		width: 77%;
		display: flex;
		flex-direction: column;
	}
	.sidebar {
		width: 25%;
	}
	.page-side {
		width: 75%;
	}
	body {
		padding: 0px;
	}

	.sidebar {
		width: 23%;
		display: block;
		padding-top: 2rem;
	}
	.d {
		width: 85%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
/* Styles for screens wider than 1440px */
@media only screen and (min-width: 1440px) {
	.boxP {
		gap: 2.5rem;
	}
	.page-side {
		width: 80%;
		display: flex;
		flex-direction: column;
	}
	.sidebar-inner {
		padding: 0.2rem;
	}
	.Sbox {
		width: 90%;
	}
	.sidebar {
		width: 20%;
	}
	.page-side {
		width: 80%;
	}
	.box {
		width: 100%;
		height: 205px;
		border-radius: 20px;
		z-index: 1;
		cursor: pointer;
	}
	.d {
		width: 85%;
	}
	.menu {
		right: 0.5rem;
	}
}

/* Styles for screens wider than 1600px */
@media only screen and (min-width: 1600px) {
	/* Your CSS rules go here */
}

/* Styles for screens wider than 1920px */
@media only screen and (min-width: 1920px) {
	.boxP {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	.box {
		width: 100%;
		height: 205px;
		border-radius: 20px;

		cursor: pointer;
	}
	.sidebar {
		width: 15%;
	}
	.page-side {
		width: 85%;
	}
	.d {
		width: 90%;
	}
}
